html {
  /* Colors */
  --green: #1e6023;

  --white: #f8f8f3;

  --brown: #3d2f2f;

  --icons: 18px;
}

/* Typography */

h1 {
  font-size: 96px;
  font-family: "Libre Baskerville";
  font-weight: 600;
  margin-top: 80px;
  margin-bottom: 80px;
}

h2 {
  font-size: 40px;
  font-family: "Libre Baskerville";
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 26px;
  font-family: "Libre Baskerville";
  font-weight: 600;
  margin: 0px;
}

p {
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 400;
  margin: 0;
}

p.small {
  font-size: 14px;
  font-family: "Montserrat";
  text-transform: uppercase;
}

p.bold {
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 600;
  text-transform: uppercase;
}

/* Generelt */

body {
  background: var(--white);
  color: var(--brown);
  margin: 0px;
}

main {
  margin-left: 80px;
  margin-right: 80px;
}

/* Links */

a {
  text-decoration: none;
  color: var(--brown);
}

a:visited {
  color: var(--brown);
}

a.text_link {
  font-weight: 600;
  text-decoration: underline;
}

a.text_link:hover {
  font-weight: 600;
  text-decoration: underline;
  color: var(--green);
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

hr {
  border-top: 1px solid var(--brown);
  margin: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

hr.bold {
  border-top: 5px solid var(--brown);
}

i {
  padding-left: 10px;
}

@media (max-width: 800px) {
  html {
    --icons: 12px;
  }
  main {
    margin-left: 20px;
    margin-right: 20px;
  }
  h1 {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }

  p.small {
    font-size: 12px;
  }

  p.bold {
    font-size: 14px;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  main {
    margin-left: 40px;
    margin-right: 40px;
  }
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }
  p {
    font-size: 16px;
  }
  p.small {
    font-size: 14px;
  }

  p.bold {
    font-size: 16px;
  }
}
