---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Home">
		<h1>Astro</h1>
		<Card header="Hej" text="test"/>
		<Button variant="primary" size="small">TEXT</Button>
		<Button variant="secondary" size="medium">TEXT</Button>
</MainLayout>
